@model IEnumerable<Category>
@{
    ViewData["Title"] = "Category";
}


<h1 class="mb-3">Category</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
    <a class="btn btn-dark" asp-action="AddCategory">Add Category</a>
</div>

<div class="mb-3">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.CategoryID)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.CategoryName)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.CreationTime)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var category in Model)
                {
            <tr>
                <td>@Html.DisplayFor(item => category.CategoryID)</td>
                <td><strong>@Html.DisplayFor(item => category.CategoryName)</strong></td>
                <td>@Html.DisplayFor(item => category.CreationTime)</td>
                <td>
                    <a class="btn btn-primary" asp-action="ViewCategory" asp-route-id="@category.CategoryID">View</a>
                    <a class="btn btn-primary" asp-action="Update" asp-route-id="@category.CategoryID">Update</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@category.CategoryID">Delete</a>
                </td>
            </tr>
                }
            }

        </tbody>
    </table>
</div>