@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home";
}

<h1 class="mb-3">Products</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
    <a class="btn btn-dark" asp-action="AddProduct">Add Product</a>
</div>


<div class="mb-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.ProductID)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.ProductName)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.CategoryID)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.CategoryName)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(item => product.ProductID)</td>
                        <td>@Html.DisplayFor(item => product.ProductName)</td>
                        <td>@Html.DisplayFor(item => product.CategoryID)</td>
                        <td>@Html.DisplayFor(item => product.CategoryName)</td>
                        <td>
                            <a class="btn btn-primary" asp-action="ViewProduct" asp-route-productId="@product.ProductID">View</a>
                            <a class="btn btn-primary" asp-action="UpdateProduct" asp-route-productId="@product.ProductID">Update</a>
                            <a class="btn btn-danger" asp-action="DeleteProduct" asp-route-productId="@product.ProductID">Delete</a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>

